<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Формула — СшилаКошка</title>
  <link rel="stylesheet" href="assets/stylesheets/application.css">
</head>
<body>
  <div id="the_formula" class="the_formula">
    <form class="the_formula-params">
      <fieldset class="main_params">
        <div>
          <label for="f-width">Ширина</label>
          <input type="text" id="f-width" v-model="params.width" />
        </div>
        <div>
          <label for="f-height">Высота</label>
          <input type="text" id="f-height" v-model="params.height" />
        </div>
        <div>
          <label for="f-depth">Толщина</label>
          <input type="text" id="f-depth" v-model="params.depth" />
        </div>
      </fieldset>

      <div class="the_formula-params_drawer">
        <button type="button"
          class="pseudo_link pseudo_link--small {{ additionalParamsVisible ? 'is-active' : '' }}"
          v-on="click: additionalParamsVisible = !additionalParamsVisible">
          Больше параметров
        </button>
      </div>

      <fieldset class="additional_params {{ additionalParamsVisible ? 'is-visible' : '' }}">
        <div>
          <label for="f-felt_depth">Толщина фетра</label>
          <input type="text" id="f-felt_depth" v-model="params.felt_depth" />
        </div>
        <div>
          <label for="f-margin">От края до строчки</label>
          <input type="text" id="f-margin" v-model="params.margin" />
        </div>
        <div>
          <label for="f-padding">От строчки до кожи</label>
          <input type="text" id="f-padding" v-model="params.padding" />
        </div>
        <div>
          <label for="f-lug">«Язычок»</label>
          <input type="text" id="f-lug" v-model="params.lug" />
        </div>
        <div>
          <label for="f-power">Постоянная Мощнуши</label>
          <input type="text" id="f-power" v-model="params.power" />
        </div>
        <div>
          <label for="f-vertical_power">Вертикальная мощность</label>
          <input type="text" id="f-vertical_power" v-model="params.vertical_power" />
        </div>
      </fieldset>
    </form>

    <div class="blueprint-patterns">
      <div class="blueprint-felt"
        v-style="width: patterns.felt.width + 'mm', height: patterns.felt.height + 'mm'"
        v-attr="data-width: patterns.felt.width, data-height: patterns.felt.height">

        <div class="blueprint-felt_border" v-style="top: params.lug + 'mm'"></div>
        <div class="blueprint-felt_border" v-style="top: (patterns.felt.height + params.lug) / 2 + 'mm'"></div>

        <div class="blueprint-leather"
          v-style="
            width: patterns.leather.width + 'mm',
            height: patterns.leather.smallHeight + 'mm',
            left: patterns.leather.left + 'mm',
            bottom: patterns.leather.bottom +'mm'"
          v-attr="
            data-width: patterns.leather.width,
            data-height: patterns.leather.visibleHeight + ' (' + patterns.leather.height + ')'">
        </div>

        <div class="blueprint-leather_pocket"
          v-style="
            width: patterns.leather.width + 'mm',
            height: pocket.leg + 'mm',
            left: patterns.leather.left + 'mm',
            bottom: (patterns.leather.bottom - pocket.leg) +'mm'">

            <div class="pocket-border pocket-border--left" v-style="
              width: pocket.hypotenuse + 'mm',
              bottom: pocket.leg + 'mm',
              -webkit-transform: 'rotate(' + pocket.angle + 'deg)',
              -ms-transform: 'rotate(' + pocket.angle + 'deg)',
              transform: 'rotate(' + pocket.angle + 'deg)'">
            </div>

            <div class="pocket-border pocket-border--right" v-style="
              width: pocket.hypotenuse + 'mm',
              bottom: pocket.leg + 'mm',
              -webkit-transform: 'rotate(' + (-pocket.angle) + 'deg)',
              -ms-transform: 'rotate(' + (-pocket.angle) + 'deg)',
              transform: 'rotate(' + (-pocket.angle) + 'deg)'">
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/javascripts/application.js"></script>
</body>
</html>
