.blueprint-patterns {
  display: table-cell;
  padding: 2em 1em;
  text-align: center;
}

.blueprint-felt, .blueprint-leather {
  display: inline-block;
  text-align: center;
  border: 2px dashed $text-color;
  box-sizing: border-box;
}

pattern-dimensions() {
  &:before {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    display: block;
    content: attr(data-width);
    text-align: center;
  }
  &:after {
    position: absolute;
    top: 30%;
    right: 100%;
    display: block;
    margin-right: 12px;
    content: attr(data-height);
  }
}

.blueprint-felt {
  position: relative;
  pattern-dimensions();

  &_border {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px dashed $text-color;
  }
}

.blueprint-leather {
  position: absolute;
  margin-left: -2px;
  border-bottom: none;
  pattern-dimensions()

  &:after {
    top: 40%;
    left: 0;
    margin-left: 6px;
  }
}
