.blueprint-leather_pocket {
  position: absolute;
}

.pocket-border {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  border-bottom: 2px dashed $text-color;

  &--right {
    left: auto;
    right: 0;
    transform-origin: 100% 100%;
  }
}
