.pseudo_link {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline;
  padding: 1px 2px;
  margin: 0;

  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px dashed;

  &:focus {
    outline: none;
  }

  &.is-active {
    border-radius: 2px;
    background: $highlight-color;
  }

  &--small {
    font-size: 14px;
  }
}
