body {
  color: #212121;
  font-size: 150%;
  line-height: 1;
}
.the_formula {
  display: table-row;
}
.the_formula-params {
  display: table-cell;
  width: 200px;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
@media print {
  .the_formula-params {
    display: none;
  }
}
.the_formula-patterns {
  display: table-cell;
  padding: 2em 1em;
  text-align: center;
  font-family: Certege, sans-serif;
  font-style: italic;
}
.the_formula-felt,
.the_formula-leather {
  display: inline-block;
  text-align: center;
  border: 2px dashed #212121;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.the_formula-felt {
  position: relative;
}
.the_formula-felt:before {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  display: block;
  content: attr(data-width);
  text-align: center;
}
.the_formula-felt:after {
  position: absolute;
  top: 30%;
  right: 100%;
  display: block;
  margin-right: 12px;
  content: attr(data-height);
}
.the_formula-felt_border {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed #212121;
}
.the_formula-leather {
  position: absolute;
  margin-left: -2px;
  border-bottom: none;
}
.the_formula-leather:before {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  display: block;
  content: attr(data-width);
  text-align: center;
}
.the_formula-leather:after {
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  margin-left: 6px;
  content: attr(data-height);
}
.the_formula-leather_pocket {
  position: absolute;
}
.pocket-border {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-bottom: 2px dashed #212121;
}
.pocket-border--right {
  left: auto;
  right: 0;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
body {
  display: table;
  width: 100%;
}
