.the_formula-patterns
  display: table-cell
  padding: 1em
  text-align: center

.felt_pattern, .leather_pattern
  display: inline-block
  text-align: center
  outline: 1px dashed #000

.felt_pattern
  position: relative

.leather_pattern
  position: absolute
