.the_formula-params
  display: table-cell
  width: 320px
  padding: 2em 20px
  box-sizing: border-box
  vertical-align: top

  @media print
    &
      display: none


.main_params
  margin: 0 0 16px
  font-size: 0

  div
    position: relative
    display: inline-block
    margin: 0 20px 0 0
    font-size: 16px
    text-align: center

    &:after
      font-size: 20px
      position: absolute
      right: -16px
      bottom: 8px
      content: '×'

    &:last-child
      margin-right: 0

      &:after
        content: ''

  label
    display: block

  input
    font-size: 24px
    width: 3em
    text-align: center

.additional_params
  margin: 0 0 16px
  font-size: 14px

  div
    margin: 0 0 14px

  label
    display: block

