@import 'core'

// inbox
body
  display: table
  width: 100%

.the_formula
  display: table-row

.the_formula-params
  display: table-cell
  width: 200px
  padding: 1em
  box-sizing: border-box
  vertical-align: top

.the_formula-patterns
  display: table-cell
  padding: 1em
  text-align: center

.felt_pattern, .leather_pattern
  display: inline-block
  text-align: center
  outline: 1px dashed #000

.felt_pattern
  position: relative

.leather_pattern
  position: absolute
