<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Formula</title>
  <link rel="stylesheet" href="http://openfontlibrary.org/face/certege-italic" type="text/css"/>
  <link rel="stylesheet" href="assets/stylesheets/application.css">
</head>
<body>
  <div id="the_formula" class="the_formula">
    <form class="the_formula-params">
      <fieldset>
        <div><input type="text" v-model="params.width" /></div>
        <div><input type="text" v-model="params.height" /></div>
        <div><input type="text" v-model="params.depth" /></div>
      </fieldset>
    </form>
    <div class="the_formula-patterns">
      <div class="the_formula-felt"
        v-style="width: patterns.felt.width + 'mm', height: patterns.felt.height + 'mm'"
        v-attr="data-width: patterns.felt.width, data-height: patterns.felt.height">

        <div class="the_formula-leather"
          v-style="
            width: patterns.leather.width + 'mm',
            height: patterns.leather.smallHeight + 'mm',
            left: params.margin + params.padding + 'mm',
            top: '10mm'"
          v-attr="
            data-width: patterns.leather.width,
            data-height: patterns.leather.visibleHeight + ' (' + patterns.leather.height + ')'">
        </div>

        <div class="the_formula-leather_pocket"
          v-style="
            width: patterns.leather.width + 'mm',
            height: pocket.leg + 'mm',
            left: params.margin + params.padding + 'mm',
            top: patterns.leather.smallHeight + 10 +'mm'">

            <div class="pocket-border pocket-border--left" v-style="
              width: pocket.hypotenuse + 'mm',
              bottom: pocket.leg + 'mm',
              -webkit-transform: 'rotate(' + pocket.angle + 'deg)',
              -ms-transform: 'rotate(' + (-pocket.angle) + 'deg)',
              transform: 'rotate(' + pocket.angle + 'deg)'">
            </div>

            <div class="pocket-border pocket-border--right" v-style="
              width: pocket.hypotenuse + 'mm',
              bottom: pocket.leg + 'mm',
              -webkit-transform: 'rotate(' + (-pocket.angle) + 'deg)',
              -ms-transform: 'rotate(' + (-pocket.angle) + 'deg)',
              transform: 'rotate(' + pocket.angle + 'deg)'">
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/javascripts/application.js"></script>
</body>
</html>
